@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding:0;
}

body {
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('../images/bg.png');
  color: #fff;
  padding: 0;
  margin: 0;
}

@media print {
  .noprint {
      display: none !important;
  }
}
